@import './variables.scss';
@import './mixins.scss';
@import './animations.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: $font-family;
  background-color: $color-primary;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

#root {
  width: 100%;
  min-height: 100vh;
  @include flex-center;
}

button {
  font-family: $font-family;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  touch-action: manipulation;
  
  &:focus-visible {
    outline: 2px solid $color-accent;
    outline-offset: 2px;
  }
}

input {
  font-family: $font-family;
  border: none;
  outline: none;
  
  &:focus-visible {
    outline: 2px solid $color-accent;
    outline-offset: 2px;
  }
}
